version: 2
updates:
  - package-ecosystem: "docker"
    directory: "/"
    schedule:
      interval: "weekly"
    assignees:
      - "Eetezadi"
    commit-message:
      prefix: "chore"
      include: "scope"
      
